__pycache__/
.vscode/
archivos_propios/

# Archivos Entregados
delegaciones.csv
deportistas.csv
Enunciado.pdf

#Archivos temporales propios
temp.py
temp2.py
menus_antiguo.py
deportistas_columnas_cambiadas.csv
